body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-color: #7a7878
}

/* menu */

.logo{
    background-color: #d6d6d6;
    height: 100px;
    width: 220px;
    align-items: center;
    margin-left: 60px;
    margin-top: 10px;
}

.opciones_menu{
    background-color: #d6d6d6;
    height: 100px;
    width: 930px;
    margin-left: 420px;
    margin-top: -102px;
}

.opciones_usuario{
    background-color: #d6d6d6;
    height: 100px;
    width: 445px;
    margin-left: 1400px;
    margin-top: -102px;
}

.menu{
    border: 2px solid black;
    background-color: #d6d6d6;
    height: 130px;
}

.inicio_logo{
    font-size: 30px;
    height: 55px;
    width: 220px;
    margin-top: 20px;
    text-align: center;
    border: 3px solid black;
}

.inicio_link{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-top: 30px;
}

.boton_menu{
    font-size: 30px;
    height: 55px;
    width: 220px;
    margin: 0px 0px -6px -6px;
    margin-top: 20px;
    text-align: center;
    border: 3px solid black;
    transition: 0.3s ease;
}

.boton_menu:hover{
    background-color: #81bfeb;
}

.menu_link{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-top: 30px;
}

.boton_usuario{
    font-size: 30px;
    height: 55px;
    width: 220px;
    margin-top: 20px;
    text-align: center;
    border: 3px solid black;
    transition: 0.3s ease;
    border-radius: 10px;
}

.boton_usuario:hover{
    background-color: #81bfeb;
}

.usuario_link{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-top: 30px;
}

#boton_usuario_press{
    background-color: #81bfeb;
}

#primer_boton{
    border-radius: 10px 0px 0px 10px;
}

#ultimo_boton{
    border-radius: 0px 10px 10px 0px;
}

/* registro paciente */

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: -770px;
    width: 1300px;
    height: 80px;
    background-color: #d6d6d6;
    border: 2px solid;
    border-radius: 20px 20px 0px 0px;
}

.nombre{
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    margin-top: 20px;
}

.container_full{
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 1300px;
    height: 750px;
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 20px ;
}

.datos_uno{
    margin-left: 90px;
    margin-top: 140px;
    width: 400px;
    height: 530px;
}

.datos_dos{
    margin-left: 510px;
    margin-top: -565px;
    width: 400px;
    height: 530px;
}

.datos_tres{
    margin-left: 930px;
    margin-top: -500px;
    width: 300px;
    height: 400px;
}

.foto_empleado{
    max-width: 265px !important;
    min-width: 265px !important;    
    max-height: 220px !important;
    min-height: 220px  !important;
    margin-left: 15px;
    margin-top: 20px;
    border: 2px solid;
}

#file{
    display: none;
}

.subir{
    font-size: 25px;
    width: 120px;
    height: 45px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -500px;
    text-align: center;
    border-radius: 5px;
}

.borrar{
    font-size: 25px;
    width: 120px;
    height: 45px;
    margin-left: 20px;
    text-align: center;
    border-radius: 5px;
}

.enunciado_foto{
    font-size: 25px;
    text-align: center;
    margin-left: -60px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.enviar{
    margin-left: 350px;
    width: 590px;
    height: 300px;
}

.registrarse{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 320px;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.inicio{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: -650px;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
}

.registrarse_link {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.inicio_link{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

/* paciente */

.enunciado_tipo{
    font-size: 25px;
    text-align: center;
    margin-left: -22px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.respuesta_tipo{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_identificacion{
    font-size: 25px;
    text-align: center;
    margin-left: -110px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.respuesta_identificacion{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_nombre_paciente{
    font-size: 25px;
    text-align: center;
    margin-left: -60px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.respuesta_nombre_paciente{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_fecha{
    font-size: 25px;
    text-align: center;
    margin-left: -60px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.respuesta_fecha{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_correo{
    font-size: 25px;
    text-align: center;
    margin-left: -55px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.respuesta_correo{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_telefono{
    font-size: 25px;
    text-align: center;
    margin-left: -85px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.respuesta_telefono{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_genero{
    font-size: 25px;
    text-align: center;
    margin-left: -190px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.respuesta_genero{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_direccion{
    font-size: 25px;
    text-align: center;
    margin-left: -160px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: black;
}

.respuesta_direccion{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}