body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-color: #7a7878
}

.container{
    margin-left: -2px;
    margin-right: auto;
    margin-top: -625px;
    width: 1300px;
    height: 80px;
    background-color: #d6d6d6;
    border: 2px solid;
    border-radius: 20px 20px 0px 0px;
}

.nombre{
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    margin-top: 20px;
}

.container_full{
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    width: 1300px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 20px ;
}

.datos{
    margin-left: 20px;
    margin-top: 120px;
    width: 530px;
    height: 500px;
}

.enviar{
    margin-left: 570px;
    margin-top: -502px;
    width: 700px;
    height: 500px;
}

.foto{
    width: 700px;
    margin-top: 120px;
    margin-left: -50px;
    margin-bottom: 50px;
}

.registrarse{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: 320px;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
}

.inicio{
    font-size: 25px;
    width: 300px;
    height: 45px;
    margin-left: -650px;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
}

.forgot{
    color: rgb(0, 153, 255);
    font-size: 25px;
    margin-left: 150px;
}

.registrarse_link {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.inicio_link{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.enunciado_tipo{
    font-size: 25px;
    width: 250px;
    height: 20px;
    text-align: center;
    margin-left: 110px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #a8a8a8;
    color: black;
    border: 2px solid;
}

.respuesta_tipo{
    font-size: 25px;
    width: 300px;
    height: 35px;
    margin-left: 95px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_nombre{
    font-size: 25px;
    width: 250px;
    height: 20px;
    text-align: center;
    margin-left: 110px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: #a8a8a8;
    color: black;
    border: 2px solid;
}

.respuesta_nombre{
    font-size: 25px;
    width: 300px;
    height: 35px;
    margin-left: 95px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}

.enunciado_contraseña{
    font-size: 25px;
    width: 250px;
    height: 20px;
    text-align: center;
    margin-left: 110px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: #a8a8a8;
    color: black;
    border: 2px solid;
}

.respuesta_contraseña{
    font-size: 25px;
    width: 300px;
    height: 35px;
    margin-left: 95px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 2px solid;
}
